language: python
python:
 - "3.6"
cache: pip
install:
 - pip install -r requirements.txt
 - pip install coveralls
 - pip install codeclimate-test-reporter
services:
 - postgresql
before_script:
- psql -c 'create database store_manager_test;' -U postgres


script:
 - pytest
 - coverage run --source=app.api.v2 -m pytest && coverage report
after_success:
 - coveralls
 - codeclimate-test-reporter
