language: python  
python: 
 - "3.6"
cache: pip  
install:  
 - pip install -r requirements.txt
 - pip install coveralls
 - pip install codeclimate-test-reporter
services:
 - postgresql
before_script:
- psql -c 'create database test_database;' -U postgres

 
script: 
 - pytest
 - coverage run --source=app.api.v2.views -m pytest && coverage report 
after_success:
 - coveralls
 - codeclimate-test-reporter